@!layout('base/main')

@section('title')
  Log in
@endsection

@section('content')
  <form method="post">
      <input type="text" name="uid" placeholder="Username or email" required>
      <input type="password" name="password" placeholder="Password" required>

      <button type="submit">Log in</button>
  </form>
@endsection
