@!layout('base/main')

@section('title')
  Log in
@endsection

@section('content')
  <form method="post" enctype="multipart/form-data" style="margin-top: 150px;">
      <input type="password" name="password" placeholder="Password" required>

      <button type="submit" class="btn btn-submit">Log in</button>
  </form>
@endsection
