@!layout('base/main')

@section('title')
Complete registration
@endsection

@section('content')
@if(confirm_jwt)
Pour l'instant, la création de compte est restrainte à des utilisateurs approuvés.
Token de confirmation: {{ confirm_jwt }}
@end

@endsection
