.app-preview {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 84px; /* Change with header height */
  padding: 30px 40px;
}

.app-preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-preview__header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.app-preview__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.app-preview__icon {
  width: 64px;
  height: 64px;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35), 0 1px 4px rgba(0, 0, 0, 0.20);

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.app-preview__title {
  font-size: 22px;
  font-weight: 600;
}

.app-preview__developer {
  font-size: 17px;
  font-weight: 400;
  color: #1e906e;

  &:hover {
    border-bottom: 2px solid #1e906e;
    margin-bottom: -2px;
  }
}

.app-preview__cta-link {
  background-color: #1e906e;
  color: #fff;

  padding: 10px 20px;
  border-radius: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  transition: background-color 0.15s, box-shadow 0.15s, transform 0.15s;

  > i {
    font-size: 18px;
  }

  > p {
    font-size: 17px;
    font-weight: 500;
  }

  &:hover {
    background-color: #18765a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35), 0 1px 4px rgba(0, 0, 0, 0.20);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    background-color: #0f5c45;
    box-shadow: none;
  }
}

.app-preview__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.app-preview-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.app-preview-info__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  > .key {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.7;
  }

  > .value {
    font-size: 17px;
    font-weight: 600;
  }
}

@media (max-width: 950px) {
  .app-preview {
    padding: 30px 16px;
  }

  .app-preview__header {
    flex-direction: column;
    gap: 20px;
  }

  .app-preview__left {
    flex-direction: column;
    gap: 20px;
  }

  .app-preview__icon {
    width: 72px;
    height: 72px;
  }

  .app-preview__header-content {
    align-items: center;
    justify-content: center;
  }

  .app-preview__right {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .app-preview-info {
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }

  .app-preview-info__item {
    gap: 2px;
    flex: 1;
    width: 100% !important;
    text-align: center;

    > .key {
      font-size: 13px;
    }

    > .value {
      font-size: 14px;
    }
  }
}

.app-preview__bento {
  width: 100%;
  display: flex;

  margin: 30px 0px;
  gap: 10px;

  > .app-preview__bento-card {
    flex: 1;

    background: #fff;
    border: 1px solid #00000030;
    border-radius: 8px;

    > .app-preview__bento-card-head {
      padding: 10px 20px;
      border-bottom: 1px solid #00000040;

      > p {
        font-size: 17px;
        font-weight: 600;
      }
    }

    > .app-preview__bento-card-content {
      padding: 16px 20px;

      > .desc {
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        opacity: 0.7;
      }
    }

    > .app-preview__bento-card-updates {
      display: flex;
      flex-direction: column;
      max-height: 290px;
      overflow-y: auto;

      > .app-preview__bento-card-update {
        display: flex;
        padding: 10px 20px;
        border-bottom: 1px solid #00000040;
        justify-content: space-between;
        align-items: center;
        
        > .app-preview__bento-card-update-title {
          display: flex;
          flex-direction: column;

          > .ver {
            font-size: 17px;
            font-weight: 600;
          }

          > .date {
            font-size: 15px;
            font-weight: 400;
            opacity: 0.7;
          }
        }

        > .app-preview__bento-card-update-link {
          display: flex;
          color: #1e906e;
          gap: 10px;
          align-items: center;

          > i {
            font-size: 18px;
          }

          > p {
            font-size: 17px;
            font-weight: 500;
          }

          &:hover {
            border-bottom: 2px solid #1e906e;
            padding-bottom: 2px;
            margin-bottom: -4px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .app-preview__bento {
    flex-direction: column;
    gap: 20px;
  }
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  > .title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    > .main-title {
      font-size: 24px;
      font-weight: 600;
    }

    > .desc {
      font-size: 17px;
      font-weight: 400;
      opacity: 0.7;
    }
  }

  > .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-width: 450px;

    padding: 7px 18px;
    gap: 10px;

    border-radius: 300px;

    background-color: #00000015;

    > i {
      font-size: 20px;
      opacity: 0.5;
    }

    > input {
      width: 100%;
      font-size: 17px;
      font-weight: 400;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

@media (max-width: 900px) {
  .search-container {
    flex-direction: column;
    gap: 20px;
  }

  .search-container > .title {
    align-items: center;
  }
}

.app-list {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  > .app-list__title {
    display: flex;
    align-items: center;
    gap: 24px;

    > p {
      font-size: 16px;
      font-weight: 600;
    }

    > .sep {
      flex: 1;
      height: 2px;
      background-color: #00000030;
      margin-top: 2px;
    }
  }

  .app-list__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

    > .app-list__app {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      color: inherit;
      text-decoration: none;

      &:hover {
        cursor: pointer;

        > .app-list__app__icon {
          transform: translateY(-2px);
        }
      }

      > .app-list__app__icon {
        width: 56px;
        height: 56px;
        border-radius: 12px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        transition: transform 0.15s;

        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      > .app-list__app__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        > .app-list__app__info__title {
          font-size: 17px;
          font-weight: 600;
        }

        > .app-list__app__info__desc {
          font-size: 15px;
          font-weight: 400;
          color: #444;
        }
      }
    }
  }
}