/* button */

.btn {
    outline: none;
    border: none;

    display: block;
    width: fit-content;
    font-size: 1rem;

    text-decoration: none;

    background: black;
    color: white !important;
    padding: 1rem 2rem;

    cursor: pointer;
}

.btn-white {
    background: white;
    color: black;
}

.btn-inverted {
    border: black 2px solid;
    color: black;
    background: none;
}

.btn-inverted.btn-white {
    border: white 2px solid;
    color: white;
    background: none;
}

.btn.btn-full {
    width: 100%;
}
