/* gallery */

.gallery {
    padding: 10%;
    background-color: rgb(240, 240, 240);
}

.gallery-grid {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

@media screen and (min-width: map-get($breakpoints, sm))  {
    .gallery-grid
    { grid-template-columns: 1fr 1fr ; }
}

@media screen and (min-width: map-get($breakpoints, lg))  {
    .gallery-grid
    { grid-template-columns: 1fr 1fr 1fr; }
}

.gallery-grid > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
  }
}
