.flex-spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

div#app-head {
  display: flex;
  gap: 20px;


  >img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    background-color: #fefefe;
  }

  >div#app-details {
    margin-top: 15px;

    >h1 {
      font-size: 35px;
      font-weight: 500;
    }

    >h2 {
      margin-top: 5px;
      font-size: 20px;
      color: #777;
    }
  }
}


table#app-details-table {
  border-collapse: collapse;
  font-size: 15px;
  font-family: sans-serif;

  text-align: left;
  color: #777;

  margin: 15px 0;

  th,
  td {
    padding-right: 35px;
    border: 8px transparent solid;
  }
}

h1.app-prop-title {
  font-size: 25px;
  font-weight: 500;

  margin-top: 20px;
  margin-bottom: 10px;
}

table#app-release-table {
  background-color: #eee;
  min-width: 100%;

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  tr:nth-child(even) {
    background-color: #ddd;
  }

}