<div><p class="one">Whoops !</p></div>
<div><p class="two">It's a 403</p></div>
<div class="three"><img src="img/403.png" alt="image 403"/></div>
<style>
  p{
    font-family:Inter;
    font-style: bold;
    color:0D1F3C;
  }
  .one{
    font-size:55px;
  }
  .two{
    font-size:21px;
  }
  img{
    width:50%;
    padding-top:15%;
  }
  div{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
</style>
