@!layout('base/main-dash')

@section('title')
Dashboard
@endsection

@section('content')

@if(user.admin)
<a href="{{ route('adminPanel.index') }}">Admin panel</a>
@endif

<div class="dash-welcome">
  <h1>Hi, {{ user.name }}</h1>
</div>

@endsection
