@!layout('base/main-dash')

@section('title')
Dashboard
@endsection

@section('content')

@if(user.admin)
  <a href="{{ route('adminPanel.index') }}">Admin panel</a>
@endif

<div class="dash-welcome">
  <h1>Hi, {{ user.username }}</h1>
  <p>Email: {{ user.email }}</p>
  <p>Type: {{ user.type }}</p>
</div>
<div class="main-box">
  <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>

@endsection
