@!layout('base/main-dash')

@section('title')
Settings
@endsection

@section('content')
<p>
<h1>Profil</h1>
<form method="post" action="/dash/edit/profile">
  <label for="name">Nom d'utilisateur:</label> <input type="text" name="name" value="{{ user.name }}">
  <br><label for="picture">Photo de profil: <img src="" alt="" /></label> <input type="file" name="picture"
    value="{{ user.name }}">
  <input type="submit" value="Envoyer">
</form>
</p>
@endsection