@!layout('base/main-dash')

@section('title')
Settings
@endsection

@section('content')
  <ul>
    <li class="dash-nav-item"><a class="dash-nav-link" href="/settings/auth">Changer mon mot de passe</a></li>
    <li class="dash-nav-item"><a class="dash-nav-link">Changer mon adresse email</a></li>
    <li class="dash-nav-item">
    </li>
  </ul>

@endsection
