@!layout('base/main')

@section('title')
Admin panel
@endsection

@section('content')
<section class="container">
<h1>Admin panel</h1>

<ul>
  @each(model in models)
  <li><a href="{{ route('adminPanel.model.index', {model: model}) }}">{{ model }}</a></li>
  @endeach
</ul>

<form action="{{ route('adminPanel.confirmRegister') }}" method="get">
  <input type="text" name="user_object">
  <input type="submit" value="Send">
</form>
</section>
@endsection

