<!DOCTYPE html>
<html lang="{{ i18n.locale }}">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      @!section('title')
        {{ t("ui.brand") }}
    </title>

    @!section('seo')

    @entryPointStyles('main')

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Flag-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" />


      {{-- === PRISM.JS === --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js" defer></script>
    
    {{-- support pour le langage LUA --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js" defer></script>

    @!section('head')

  </head>
    <body>
    <main>
      @!include('components/flash')
    </main>
    @entryPointScripts('main')
    <div class="admin-layout">
      
      {{-- ======================================================= --}}
      {{-- ===      COLONNE DE GAUCHE : NAVIGATION             === --}}
      {{-- ======================================================= --}}
      <aside class="admin-sidebar">
        <div class="sidebar-header">
          <a href="/" class="logo-panel">
              <img src="/img/logo_store.svg" alt="Paxo store logo">
          </a>
          <a href="{{ route('/') }}" class="logo-link">
            {{-- Vous pouvez mettre votre logo ici --}}
            <i class="fa-solid fa-shield-halved"></i>
            <span>Admin</span>
          </a>
        </div>
        
        <nav class="sidebar-nav">
          @each(model in models)
            <a href="{{ route('adminPanel.model.view', {model: model}) }}" class="nav-link {{ request.url() === '/admin-panel' ? 'active' : '' }}">
            <i class="fa-solid fa-house"></i>
            <span>{{ model }}</span>
            </a>
          @endeach
          
        </nav>

      </aside>

      {{-- ======================================================= --}}
      {{-- ===      COLONNE DE DROITE : CONTENU PRINCIPAL        === --}}
      {{-- ======================================================= --}}
      <main class="admin-main-content">
        @!section('content')
      </main>

    </div>

    {{-- Placeholder pour le JS spécifique à une page --}}
    @!section('script')

  </body>
</html>

