<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    @!section('title')
    | Paxo
  </title>

  @!section('seo')

  @entryPointStyles('main')

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Flag-icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" />

  @!section('head')

</head>
<!--<ul>
    @each(category in appCategories)
    <li class="sidebar-item"><a class="sidebar-link" href="/category/{{ category }}">{{ t('ui.marketplace.category.'
        + category) }}</a></li>
    @end
  </ul>-->
@!component('base/header')

<body>
  <section class="apps-subheader">
    <nav class="sidebar">
      <ul class="overlap">
          <li class="sidebar-title">Catégories</li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Jeux</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Actualités</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Divertissement</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Éducation</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Musique</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Productivité</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Utilitaires</a></li>

          <li class="sidebar-title">Mon compte</li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Mon appareil</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="">Mes applications</a></li>
      </ul>
    </nav>
    <main class="apps-content">
      @!include('components/flash')

      @!section('content')
    </main>
  </section>
  <footer>
    <div class="social">
      <ul>
        <li><a href="https://github.com/paxo-rch"><i class="fa-brands fa-square-github"></i></a></li>
        <li><a href="https://www.instagram.com/gabriel_rochet_paxo/"><i class="fa-brands fa-square-instagram"></i></a>
        </li>
      </ul>
    </div>

  </footer>

  @entryPointScripts('main')

  @!section('script')
</body>

</html>
