<!DOCTYPE html>
<html lang="{{ i18n.locale }}">


    @!section('seo')

    @entryPointStyles('main')

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Flag-icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.14.0/css/flag-icons.min.css" />

    @!section('head')

  </head>
  <body>
    <header class="header top block-width">
      <a href="/" class="logo">
        <img src="/img/logo.png" alt="Paxo" style="height: 100%">
      </a>

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link" href="/about">{{ t("ui.header.about")
            }}</a></li>
          <li class="nav-item"><a class="nav-link" href="/contribute">{{
              t("ui.header.contribute") }}</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="https://discord.gg/84Qsp6tUSK" target="_blank">{{
              t("ui.header.discord") }}</a></li>
          <li class="nav-item"><a class="nav-link" href="/tutorials">{{ t("ui.header.tutorials") }}</a></li>
          <li class="nav-item"><a class="nav-link" href="/press">{{ t("ui.header.press") }}</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">{{ t("ui.header.contact") }}</a></li>
          <li class="nav-item"><a class="nav-link"
              href="https://tribee.fr/cagnotte/01H7DFJGAQHNWSH4SC77A9X2ZV/participation" target="_blank">{{
              t("ui.header.donations") }}</a></li>
          <li class="nav-item lang-select-wrapper">
            <div id="lang-current" href="#">
              <span class="fi fi-{{ flags[i18n.locale] }}" aria-label="{{ t(`ui.languages.${i18n.locale}`) }}"></span>
            </div>
            <div id="lang-select">
              @each(locale in locales)
              @if(locale != i18n.locale)
              <a href="?lang={{ locale }}">
                <span class="fi fi-{{ flags[locale] }}"
                  aria-label="{{ t(`ui.languages.${locale}`) }}">
                </span>
              </a>
              @end
              @end
            </div>
          </li>
        </ul>
      </nav>

      <button class="toggle-nav-btn">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav class="responsive-nav">
        <ul class="responsive-nav-list">
          <li class="nav-item"><a class="nav-link" href="/about">{{ t("ui.header.about")
            }}</a></li>
          <li class="responsive-nav-item"><a class="responsive-nav-link" href="/contribute">{{ t("ui.header.contribute")
              }}</a></li>
          <li class="responsive-nav-item"><a class="responsive-nav-link" href="https://discord.gg/84Qsp6tUSK"
              target="_blank">{{ t("ui.header.discord") }}</a></li>
          <li class="responsive-nav-item"><a class="responsive-nav-link" href="/tutorials">{{ t("ui.header.tutorials")
              }}</a></li>
          <li class="responsive-nav-item"><a class="responsive-nav-link" href="/press">{{ t("ui.header.press") }}</a></li>
          <li class="responsive-nav-item"><a class="responsive-nav-link" href="/contact">{{ t("ui.header.contact") }}</a>
          </li>
          <li class="responsive-nav-item"><a class="responsive-nav-link"
              href="https://tribee.fr/cagnotte/01H7DFJGAQHNWSH4SC77A9X2ZV/participation" target="_blank">{{
              t("ui.header.donations") }}</a></li>
        </ul>
      </nav>
    </header>
    <main>
      @!include('components/flash')
      @!section('content')
    </main>
    <footer>
      <p class="footer-text">
        {{ t("ui.footer.contributions") }} <a style="color: white; text-decoration: underline;" href="/contributors">{{ t("ui.footer.link_text")}}</a>
      </p>
      <div class="social">
        <ul>
          <li><a href="https://github.com/paxo-phone"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.instagram.com/gabriel_rochet_paxo/"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </footer>
    @entryPointScripts('main')
    @!section('script')
  </body>
</html>
