{% extends "base/main.html" %}

{% block title %}Tutoriel : {{ tutorial.name }}{% endblock %}

{% block seo %}
    <meta name="description" content="{{ tutorial.description }}">
{% endblock %}

{% block content %}
    <section class="container">
        <div class="card">
            <div class="card-title">{{ tutorial.name }} - {{ tutorial.user.username }} ({{ tutorial.date_created|date:"D d M Y" }})</div>
            <div class="card-description">{{ tutorial.description }}</div>
            <a href="{% url 'tutorials:view_step' tutorial.id %}?index=1">Commencer le tutoriel ></a>
        </div>
    </section>
{% endblock %}
