{% extends "base/main.html" %}

{% block title %}Presse{% endblock %}

{% block seo %}
    <meta name="description" content="Le PaxoPhone fait parler de lui, et en voilà les conséquences. Ici, vous trouverez plusieurs articles rédigé à propos de notre projet.">
    <meta name="robots" content="index">
{% endblock %}

{% block content %}
    <section class="container">

        <p class="h1 text-center mb-2">Ce que la presse écrit sur Paxo</p>
        <p class="lead text-center">lorem ipsum</p>

        <div>
            {% for article in articles %}
                <div class="card">
                    <div class="card-title">{{ article.name }} - {{ article.newspaper }} (indexé sur ce site le {{ article.date|date:"D d M Y" }})</div>
                    <div class="card-description">{{ article.description }}</div>
                    <a href="{{ article.link }}" target="_blank">En savoir plus... (lien externe)</a>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}
