{% extends 'base/main.html' %}

{% block title %}Contribuer{% endblock %}

{% block seo %}
    <meta name="description" content="Vous souhaitez participer à la conception du PaxoPhone ? N'hésitez pas et rejoignez-nous !">
    <meta name="robots" content="index">
{% endblock %}

{% block content %}
    <section class="container">

        <h1 class="h1 text-center mb-2">Contribuer</h1>
        <p class="lead text-center">Le caractère libre / open source du projet invite chaque utilisateur à y contribuer. Vous trouverez sur cette page les documentations de fonctionnement du téléphone ainsi que les indications pour participer, à votre tour, à ce vaste projet.</p>

        <div class="card">
            <div class="card-title">Hardware</div>
            <div class="card-description">Le Hardware désigne toute la partie materielle du téléphone, aussi bien les matériaux utilisés que les circuit qui le font fonctionner. La documentation en lien ci-dessous décrit en profondeur tous les détails de la conception.</div>
            <a href="#">En savoir plus...</a>
        </div>

        <div class="card">
            <div class="card-title">Software</div>
            <div class="card-description">Le software désigne toute la partie logicielle du téléphone, c'est à dire le système d'exploitation (PaxOS) et les applications qui tournent dessus. La documentation en lien ci-dessous décrit en détail leur architecture et le fonctionnement.</div>
            <a href="#">En savoir plus...</a>
        </div>

    </section>
{% endblock %}
