/* block */

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 15% 10%;

    // for background images
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (min-width: map-get($breakpoints, md))
{
    .block {
        padding: 10%;
        flex-direction: row;
    }
}
