/* container */

$padding-top: calc((50px + 30px) * 2);

.container {
  padding: $padding-top 7% 3% 7%;
}

@media screen and (min-width: map-get($breakpoints, sm)) {
  .container {
    padding: $padding-top 10% 5% 10%;
  }
}

.apps-subheader {
  padding: $padding-top 0 3% 0;
}

@media screen and (min-width: map-get($breakpoints, sm)) {
  .apps-subheader {
    padding: $padding-top 0 5% 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  main {
    flex: 1;
  }
}