/* container */

$padding-top: 0; // Header was set to fixed

.container {
  padding: $padding-top 7% 3% 7%;
}

@media screen and (min-width: map-get($breakpoints, sm)) {
  .container {
    padding: $padding-top 10% 5% 10%;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  main {
    flex: 1;
  }
}