.error-p-one, .error-p-onetwo{
  font-family:Inter;
  font-style: bold;
  color:0D1F3C;
}
.error-p-oneone{
  font-size:55px;
}
.error-p-onetwo{
  font-size:21px;
}

.img-error{
  width:50%;
  padding-top:15%;
}
.error-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
