/* footer */

footer {
    min-height: 10vh;
    background: #0A0A0A;
    padding: 5% 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.social {}

.social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.4rem;
}


.social ul li a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

@media screen and (min-width: map-get($breakpoints, sm))
{
    .footer-nav {
        flex-direction: row;
    }
}
