/* footer */

footer {
    min-height: 5vh;
    background: #153029;
    color: #fff;
    padding: 20px 8%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
}

.footer-text {
    font-size: 14px;
    width: 100%;
    flex: 1;
    max-width: 500px;
}

.social {}

.social ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    width: fit-content;
}


.social ul li a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
    opacity: 0.5;

    transition: all 0.3s ease;

    &:hover {
        opacity: 1;
    }
}

@media screen and (min-width: map-get($breakpoints, sm))
{
    footer {
        flex-direction: row;
    }
}
