/* header */

.header {
  padding: 50px 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // transition: all $// transition-duration ease-in-out;
  background-color: transparent;

  >.toggle-nav-btn {
    // transform: translateY(-300%);
    background: none;
    border: none;
    font-size: 1.5rem;
    color: inherit;
    cursor: pointer;
    // transition: all $// transition-duration ease;
    z-index: 1;

    &.active {
      color: white;
    }

    /*
    &.visible {
      transform: translate(0);
    }
    */
  }

  >.logo {
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
    z-index: 1;
    height: 60px;
    // transition: height $// transition-duration ease;
    /*
    transform: translateY(-300%);
    // transition: all 0.5s ease;

    &.visible {
      transform: translate(0);
    }
    */
  }

  >.nav {
    display: none;
    // transition: all $// transition-duration ease;

    >.nav-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      >.nav-item {
        padding: 0 .8rem;

        &.lang-select-wrapper {
          position: relative;
          display: flex;
          align-items: center;

          >#lang-current {
            cursor: pointer;
          }

          >#lang-select {
            position: absolute;
            display: none;
            border-radius: 0.2rem;
            padding: 10%;
            background: rgba(255, 255, 255, 0.7);
            // transition: all $// transition-duration;
            z-index: 2;
            margin: -10%;
            margin-top: 100%;

            &.open {
              display: block;
            }
          }
        }

        >.nav-link {
          text-decoration: none;
          color: inherit;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;

          &:hover {
            color: #3ABA99;
          }
        }
      }
    }
  }

  &:not(.top) {
    background-color: white;

    &:not(.mobile_menu_active) {
      padding-top: 12px;
      padding-bottom: 12px;
      color: black;

      >.logo {
        height: 40px;
        filter: none; // logo vert
      }

      >.nav {
        ul {
          >li {
            color: black;
          }
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: black;
      width: 100%;
      height: 1px;
    }

    >nav {
      &.nav {
        >.nav-list {
          >.nav-item {
            >#lang-select {
              background: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }

      option {
        color: black;
      }
    }
  }
}

@media screen and (min-width: map-get($breakpoints, xl)) {
  .header .nav {
    display: flex;
  }
}

/* responsive nav */

@media screen and (min-width: map-get($breakpoints, xl)) {
  .toggle-nav-btn {
    display: none;
  }
}

.header .responsive-nav {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: black;

  select {
    >option {
      color: black;
    }
  }
}

.responsive-nav {
  transform: translateX(-200%);
  // transition: all $// transition-duration ease;
}

.responsive-nav.active {
  transform: translateX(0);
}

// Cancelled animations due to incompatibility for Neper and being to heavy, refactor needed
// .responsive-nav-item {

//   opacity: 0;
//   transform: translateY(-70%);
//   // transition: all 0.5s ease;

// }

// .responsive-nav-item.active {

//   opacity: 1;
//   transform: translate(0);

// }

// .nav-item {

//   opacity: 0;
//   transform: translateY(-200%);


// }

// .nav-item.visible {

//   opacity: 1;
//   transform: translate(0);

// }

.header .responsive-nav .responsive-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.header .responsive-nav .responsive-nav-list .responsive-nav-item .responsive-nav-link {
  color: white;
}

#lang {
  text-align: center;
}

#lang_responsive {
  background: none;
  color: white;
  font-size: inherit;
}

.presentation {
  opacity: 0;
  // transition: all $// transition-duration ease;

  &.visible {
    opacity: 1;
  }
}

@media screen and (min-width: map-get($breakpoints, xl)) {
  .header .responsive-nav {
    display: none;
  }
}