.apps-subheader,
.dash-subheader {
  display: flex;
}

.sidebar {
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  min-width: 13rem;
}

.dash-content {
  h1 {
    font-size: 150%;
    margin-bottom: revert;
  }

  padding: 0 2rem;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar-item {
  padding: 1%;
  margin: 0.2rem;
}

.sidebar-link {
  text-decoration: none;
  color: #39BC9B;
  //text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.sidebar-link:hover {
  color: #89D5C0;
}

.form-logout {
  align-items: left;
  display: flex;
}

.btn-logout {
  font-size: 16px;
  border-radius: 10px;
  padding: 1rem;
  font-family: inherit;
  background-color: white;
  color: #39BC9B;
  border: #39BC9B 2px solid;
}

.btn-logout:hover {
  border-color: #89D5C0;
}

.dash-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-box {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
}

.box {
  height: 70vh;
  padding: 10%;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  border-radius: 30px;
}