@!layout('base/main')

@section('title')
Admin panel - {{ model }} / create
@endsection

@section('content')
<h1>Admin panel - {{ model }} / create</h1>

<form method="post">
  @each(field in fields)
  <label>{{ field }}</label>
  <input type="text" name="{{ field }}">
  @endeach
  <button type="submit">Save</button>
</form>
@endsection
