@!layout('base/main')

@section('title')
Dashboard
@endsection

@section('content')
<h1>Hi, {{ user.username }}</h1>
<p>Email: {{ user.email }}</p>
<p>Type: {{ user.type }}</p>

@if(user.type === 'admin')
  <a href="{{ route('adminPanel.index') }}">Admin panel</a>
@endif

<form action="{{ route('auth.logoutProcess') }}" method="post">
  <button>Log out</button>
</form>

@endsection
