/* fonts */

@font-face {
  font-family: "Paxo";
  font-weight: 300;
  src: url("/public/fonts/NotoSans-Light.ttf")
}

@font-face {
  font-family: "Paxo";
  font-weight: 400;
  src: url("/public/fonts/NotoSans-Regular.ttf")
}

@font-face {
  font-family: "Paxo";
  font-weight: 500;
  src: url("/public/fonts/NotoSans-Medium.ttf")
}

@font-face {
  font-family: "Paxo";
  font-weight: 600;
  src: url("/public/fonts/NotoSans-SemiBold.ttf")
}

@font-face {
  font-family: "Paxo";
  font-weight: 700;
  src: url("/public/fonts/NotoSans-Bold.ttf")
}