/* variables */

$bg-color: #fff;
$fg-color: #000;

$body-font-family: Helvetica, Arial, sans-serif;
$body-font-size: 16px;
$body-font-size: 16px;
$transition-duration: 0.2s;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$green1: #38B99B;
$green2: #89D5C0;
$grey1: #828282;
$grey2: #D9D9D9;