/* variables */

$bg-color: #fff;
$fg-color: #000;

$body-font-family: 'Paxo', sans-serif;
$body-font-size: 16px;
$body-font-size: 16px;
$transition-duration: 0.3s;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);