/* banner */

.banner {
    padding: 1rem;

    background-color: black;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1rem;
}

.banner a {
    color: inherit;
    text-decoration: underline;
}

.banner-alert
{
    color: white;
    background: #dc3545;
}
