@!layout('base/main')

@section('title')
Marketplace
@endsection

@section('seo')
<meta name="description" content="">
<meta name="robots" content="index">
@endsection

@section('content')
{{-- Cette page affiche une application en détail, qui sera rendu via l'objet partagé "app", défini par le --}}
{{-- modèle app/Models/App.ts --}}
@endsection